root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
tab_width = 2
trim_trailing_whitespace = true

[*.{jsx,js}]
indent_size = 2
indent_style = space

[*.{go,sql}]
indent_size = 4
tab_width = 4
indent_style = tab
